*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    background-color: #45ADA8;
    display: flex;
    flex-flow: wrap;
}

body{
    background-color: antiquewhite;
}

body.modoOscuro {
    background-color: #2A1D0B;
    color: white;
}
footer.modoOscuro{
    background-color: #201837;
}
header.modoOscuro{
    background-color: #201837;
}

.logo{
    height: 80px;
    position: relative;
    left: 750px;
}

.txt{
    text-align: center;
}

.boton{
    display: flex;
    justify-content: center;
}

.img1{
    height: 200px;
    width: 300px;
}

.img2{
    height: 200px;
    width: 200px;
}

.imagenes{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 20px;
}

.ingreso{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 20px;
}
.form12{
    width: 550px;
    position: relative;
    padding-left: 10%;
}
#agregar{
    padding-left: 5%;
}

#botonSeguimiento{
    position: relative;
    top: 25px;
    right: 110px;
}

#seguimiento{
    position: relative;
    top: 25px;
}

footer{
    background-color:#45ADA8;
    position: relative;
    top: 262px;
    width: 100%;
    height: 150px;
}

.cambiarModo{
    position: relative;
    left: 45%;
}